@import '../../root-colors.scss';

.weather-container {
  margin-right: 145px;
  margin-left: 145px;
  height: 471px;
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 1;
  position: relative;

  .details-container {
    width: 749px;
    height: 100%;
    background-image: $gradient;
    border-radius: 40px;

    .top-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;

      .degree-location {
        background: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 45px;
        margin-top: 20px;

        .degree {
          font-size: 90px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $neutral;
          background: none;
          margin-top: 30px;
        }

        .location {
          background: none;
          font-size: 40px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $neutral;
          margin-top: -22px;
        }
      }

      .weather-image {
        border: none;
        width: 125px;
        height: 125px;
        background: none;
        margin-top: 10px;
        margin-right: 35px;
      }
    }

    .middle-details {
      background: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      margin-top: 160px;
      margin-left: 45px;
      margin-right: 628px;

      .min,
      .max {
        background: none;
        font-size: 17px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        color: $neutral;
      }
    }

    .bottom-details {
      background: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .days-container {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 300px;
        height: 45px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.1);
        margin-left: 45px;
        margin-top: 15px;
        margin-bottom: 45px;
        overflow: auto;

        .days-item {
          width: 100%;
          overflow: auto;
          background: none;
          list-style: none;
          cursor: pointer;
          // margin-right: 2px;
          // margin-left: 2px;

          &:hover {
            border-radius: 15px;
            background-color: #ffffff4d;
            padding-top: 6px;
            padding-bottom: 5px;
          }

          .days-title {
            background: none;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $neutral;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-right: 12px;
            padding-left: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
          }
        }

        .active {
          background-color: $neutral;
          border-radius: 15px;
          padding-top: 6px;
          padding-bottom: 5px;

          .days-title {
            background: none;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $primaryDark;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-right: 12px;
            padding-left: 12px;
            padding-top: 8px;
            padding-bottom: 8px;
          }

          &:hover {
            border-radius: 15px;
            color: $primaryDark;
            background-color: $neutral;
            padding-top: 6px;
            padding-bottom: 5px;
          }
        }
      }
    }

    .sunrise-sunset {
      background: none;
      display: flex;

      .sunrise {
        background: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background: none;
        margin-right: 31px;
        margin-bottom: 47px;

        .sunrise-title {
          background: none;
          font-size: 17px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $neutral;
        }

        .sunrise-details {
          background: none;
          font-size: 24px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $neutral;
        }
      }

      .sunset {
        background: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        background: none;
        margin-right: 47px;
        margin-bottom: 47px;

        .sunset-title {
          background: none;
          font-size: 17px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $neutral;
        }

        .sunset-details {
          background: none;
          font-size: 24px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $neutral;
        }
      }
    }
  }

  .favorites-container {
    width: 360px;
    height: 100%;
    border-radius: 40px;
    background-color: $primaryLight;

    .favorite-city-title {
      background: none;
      margin-left: -25px;
      margin-top: 32px;
      margin-right: 110px;
      margin-bottom: 22px;
      font-size: 26px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $neutral;
    }

    .city-container {
      background: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .city-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 15px;
        width: 330px;
        height: 48px;
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $neutral;
        background-color: $primaryLight;

        &:hover {
          background-color: $primaryLightLight;
        }

        &:focus {
          background-color: $secondary;
          outline: none;
        }

        .city {
          background: none;
          padding-left: 15px;
        }

        .cancel-btn {
          cursor: pointer;
          border: none;
          margin-right: 15px;
          background-image: url('../../assets/x.svg') !important;
          background-repeat: no-repeat;
          width: 30px;
          height: 30px;
          background: none;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .weather-container {
    margin-left: 20px;
    width: 374px;

    .heart-btn {
      position: absolute;
      top: -140px;
      left: 260px;
      cursor: pointer;
      border: none;
      background-image: url('../../assets/heart.svg');
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      margin: 10px;
      outline: none;
      z-index: 5;

      &:hover {
        background-image: url('../../assets/heart-hover.svg');
        transform: scale(1.05);
        transition: 0.3s;
      }
    }
    .details-container {
      width: 374px;
      height: 447px;
      position: relative;

      .top-details {
        .degree {
          position: absolute;
          left: 25px;
          top: 0px;
        }

        .location {
          display: none;
        }

        .weather-image {
          position: absolute;
          left: 240px;
          top: 0px;
        }
      }

      .middle-details {
        position: absolute;
        top: -40px;
        width: 100px;
        left: -10px;
      }

      .bottom-details {
        display: flex;
        flex-direction: column;

        .days-container {
          position: absolute;
          top: 360px;
          left: -10px;
        }
      }

      .sunrise-sunset {
        position: absolute;
        top: 300px;
        left: 40px;
      }
    }

    .favorites-container {
      display: none;
    }
  }

  .select-container {
    width: 100%;
    height: 100%;
    background-color: #00000070;
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
  }

  .select-section {
    position: relative;
    height: 100%;
    width: 305px;
    margin-left: 109px;
    background-color: $neutral;
    display: flex;
    flex-direction: column;
    margin-right: 23px;
    align-items: center;

    .cancel-btn {
      position: absolute;
      top: 36px;
      left: 23px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      background-image: url('../../assets/x.svg');
      background-repeat: no-repeat;
      width: 50px;
      height: 50px;
      background-position: center;
      outline: none;

      &:hover {
        border-radius: 30px;
        background-color: $gray;
      }
    }

    h2 {
      position: absolute;
      top: 108px;
      left: 23px;
      background: none;
      color: $primaryDark;
      font-size: 40px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }

    ul {
      position: absolute;
      top: 169px;
      left: 23px;
      background: none;
      margin-top: 21px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: center;
      align-items: center;
      width: 262px;

      .item {
        background: none;
        list-style: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 48px;

        &:hover {
          border-radius: 15px;
          background-color: $gray;
        }

        .city {
          background: none;
          color: $primaryDark;
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          padding: 15px 100px 15px 15px;
        }
      }

      .active-item {
        background-color: $secondary;
        list-style: none;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height: 48px;
        border-radius: 15px;

        &:hover {
          border-radius: 15px;
          background-color: $secondary;
        }
        .city {
          background: none;
          color: $neutral;
          font-size: 18px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          padding: 15px 100px 15px 15px;
        }
      }

      .delete-btn {
        cursor: pointer;
        border: none;
        background-image: url('../../assets/x.svg') !important;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        background: none;
        margin-top: 8px;
        margin-right: 10px;
      }
    }

    .add-location {
      position: absolute;
      top: 503px;
      right: 23px;
      width: 262px;
      height: 60px;
      border: none;
      border-radius: 20px;
      background-color: $secondary;
      cursor: pointer;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
}
