$neutral: #ffffff;
$primaryDark: #000000;
$primaryLight: #090909;
$primaryLightLight: #151515;
$secondary: #2581ff;
$gray: #d3d3d3;
$gradient: radial-gradient(
  circle at 0 6%,
  #edb771,
  #eb5c7f 42%,
  #7963f9 76%,
  #7dcbf3 112%
);
